# Proxmox Backup Server – dépôt community (no-subscription)
deb [signed-by=/usr/share/keyrings/proxmox-release.gpg] http://download.proxmox.com/debian/pbs {{ ansible_distribution_release }} pbs-no-subscription
